<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-16"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <h1 class="text-[#211F20]">
      <svg
        class="pr-[50%]"
        viewBox="0 0 614 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M103.2 215C100.8 211 99.1 205.4 98.1 198.2H97.5C87.5 212 72.1 218.9 51.3 218.9C36.1 218.9 23.8 214.9 14.4 206.9C5 198.9 0.3 187.6 0.3 173C0.3 157.4 5.3 146.2 15.3 139.4C25.3 132.4 38.8 127.9 55.8 125.9C71.8 124.1 82.6 122 88.2 119.6C94 117.2 96.9 113.6 96.9 108.8C96.9 99 91.5 94.1 80.7 94.1C68.9 94.1 62.2 100.2 60.6 112.4H6.9C7.5 96.4 14 83.2 26.4 72.8C38.8 62.4 56.5 57.2 79.5 57.2C101.9 57.2 118.6 60.6 129.6 67.4C145.4 77.2 153.3 92.5 153.3 113.3V189.8C153.3 202.6 155.2 210.2 159 212.6V215H103.2ZM72.6 185.3C79.8 185.3 85.9 183.2 90.9 179C95.9 174.6 98.4 168.1 98.4 159.5V146C92.6 148.8 85.3 151.2 76.5 153.2C68.5 155 62.9 157.2 59.7 159.8C56.5 162.4 54.9 166 54.9 170.6C54.9 175.4 56.6 179.1 60 181.7C63.4 184.1 67.6 185.3 72.6 185.3ZM228.778 62V85.1H229.678C240.878 67.5 256.378 58.7 276.178 58.7C280.378 58.7 283.478 59.2 285.478 60.2V108.5H284.278C267.478 105.7 254.478 108 245.278 115.4C236.078 122.8 231.478 135.1 231.478 152.3V215H174.778V62H228.778ZM367.097 220.1C343.897 220.1 325.297 215.3 311.297 205.7C297.297 196.1 290.197 182.7 289.997 165.5H344.297C345.297 178.9 352.997 185.6 367.397 185.6C380.397 185.6 386.897 181.2 386.897 172.4C386.897 167.2 384.197 163.6 378.797 161.6C373.397 159.4 365.197 157.5 354.197 155.9C351.997 155.7 350.397 155.5 349.397 155.3C343.197 154.3 337.897 153.3 333.497 152.3C329.297 151.3 324.397 149.7 318.797 147.5C313.397 145.1 308.997 142.3 305.597 139.1C302.397 135.7 299.597 131.2 297.197 125.6C294.997 120 293.897 113.5 293.897 106.1C293.897 90.9 300.597 79 313.997 70.4C327.397 61.6 343.897 57.2 363.497 57.2C386.497 57.2 404.097 61.3 416.297 69.5C428.697 77.7 435.397 89.4 436.397 104.6H382.997C381.797 95.4 375.397 90.8 363.797 90.8C359.197 90.8 355.297 91.8 352.097 93.8C349.097 95.6 347.597 98.3 347.597 101.9C347.597 105.7 349.997 108.4 354.797 110C359.797 111.6 367.897 113.2 379.097 114.8C386.297 115.8 392.097 116.8 396.497 117.8C401.097 118.6 406.597 120.3 412.997 122.9C419.597 125.3 424.697 128.3 428.297 131.9C432.097 135.3 435.397 140.1 438.197 146.3C440.997 152.3 442.397 159.4 442.397 167.6C442.397 185 435.397 198.1 421.397 206.9C407.597 215.7 389.497 220.1 367.097 220.1ZM512.728 0.49999V79.4H513.628C526.428 64.6 541.928 57.2 560.128 57.2C577.528 57.2 590.828 62.5 600.028 73.1C609.228 83.7 613.828 98 613.828 116V215H557.128V129.8C557.128 112.2 550.028 103.4 535.828 103.4C528.828 103.4 523.228 106.2 519.028 111.8C514.828 117.2 512.728 124.1 512.728 132.5V215H456.028V0.49999H512.728Z"
          fill="currentColor"></path>
      </svg>
    </h1>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-[#808185]"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="flex gap-3 items-baseline">
          <h3 class="text-secondary text-xs font-medium">
            <span class="font-bold">Full stack</span>
            <span>developer</span>
            <!-- <span class="italic">Freelancer</span> -->
          </h3>
          <span class="h-auto border-secondary border self-center"></span>
          <span class="text-secondary text-xs">Currently working with</span>
          <span
            ><a
              class="text-secondary text-xs font-medium italic"
              href="https://prodioslabs.com/"
              target="_blank">Prodios labs</a
            ></span
          >
        </div>
        <div>
          <a
            href="mailto:arshramgarhia01@gmail.com"
            class="hover:text-secondary/80 text-secondary"
            ><svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              width="16"
              ><path d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                fill="currentColor"></path></svg
            ></a
          >
        </div>
      </div>
      <div class="h-6 bg-[#808185]" data-aos="fade-up" data-aos-duration="2000">
      </div>
      <div class="h-6 bg-[#003CA6]" data-aos="fade-up" data-aos-duration="2000">
      </div>
      <div class="h-6 bg-[#87309D]" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div
        class="h-12 bg-[#EE1B24]"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      </div>
      <div
        class="h-12 bg-[#FEF102]"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      </div>
      <div
        class="h-24 bg-[#211F20] flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150"
      >
      </div>
    </div>
  </div>
</section>
